.websocket {
  position: relative;
  border: 2px solid lightgreen; /* 枠の太さ・種類・色 */
  border-radius: 4px; /* 枠の丸み */
  /* 枠外の余白 */
  padding: 5px 15px;
}

.status {
  position: absolute;
  padding: 0 0.5em;
  left: 23px;
  top: -13px; /* タイトルの位置を調整 */
  color: black; /* タイトルの文字色 */
  font-weight: bold;
  font-size: 0.9em; /* タイトルの文字サイズ */
  background-color: #ffffff;
  white-space: nowrap;
}
